{% extends 'base.html.twig' %}

{% block title %}
	Players
{% endblock %}

{% block body %}

	<div class="container">

		{% for player in players %}

			{% if (player.id != user.id) %}
				<div class="player">
					<div class="player-img">
						<img src="{{asset(player.profilepicture) }}">
					</div>
					<div class="player-data">
						<h2>
							{{player.username}}
						</h2>
					</div>
					<div class="player-controls">
						<a href="" class="button">
							Add friend
						</a>
						<a href="{{ path('message_new', { id: player.id }) }}" class="button">
							Send message
						</a>


					</div>
				</div>
			{% endif %}
		{% endfor %}


	</div>
{% endblock %}
