{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div id="game-container" class="container">
        <div id="game1" class="game">
            <div class="game-img">
                <img src="../images/QuizGame.png" alt="logo QuizGame">
            </div>
            <div class="game-data">
                <h2>QuizGame</h2>
                <a href="">http://gameworld/QuizGame/</a>
            </div>
        </div>
        <div id="game2" class="game">
            <div class="game-img">
                <img src="../images/Subnautica.png" alt="logo Subnautica">
            </div>
            <div class="game-data">
                <h2>Subnautica</h2>
                <a href="">http://waterworld/games/Subnautica</a>
            </div>
        </div>
    </div>

{% endblock %}
