body {
  display: flex;
  flex-direction: column;
  background-color: #1b2838;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #dcdedf;
  background-color: #171d25;
  min-height: 75px;
  width: 100%;
}

a {
  color: #dcdedf;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 70%;
  min-height: 500px;
  background-color: rgba(169, 170, 170, 0.5);
  margin: 50px;
  padding: 25px;
}

.game,
.player {
  display: flex;
  /* align-items: center; */
  background-color: #1b2838;
  border: 2px solid #1b2838;
  color: #dcdedf;
  margin: 20px;
  width: 90%;
  height: 100px;
  /* justify-self: center; */
}

.game-img {
  /* background-color: #c0c2c3; */
  /* display: flex; */
  height: 100px;
  width: 178px;
}

.player-img {
  height: 100px;
  width: 100px;
}

/* verhouding van gamethumbnails moeten 16:9 zijn */
.game > div > img,
.player > div > img {
  height: 100%;
}

.game-data,
.player-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  height: 100%;
  /* om div van de game-date te laten groeien zodat game-control helemaal rechts komt */
  flex-grow: 1;
}

.game-controls,
.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 25px;
}

a.button {
  padding: 0.3em;
  margin: 0.5em;
  /* border: 1px solid #171d25; */
  border-radius: 5px;
  color: #171d25;
  background-color: #c0c2c3;
  text-decoration: none;
}

a.styledLink {
  margin-bottom: 20px;
  background-color: rgba(192, 194, 195, 0.2);
  text-decoration: none;
}

a.buttonNew {
  padding: 0, 25em;
  margin-right: 5%;
  border-radius: 5px;
  width: 5%;
  background-color: #171d25;
  color: #dcdedf;
  align-self: flex-end;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
}

form {
  width: 35%;
  background-color: rgba(169, 170, 170, 0.5);
  margin: 50px;
  padding: 0 35px 35px 35px;
  align-self: center;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

input {
  /* display: block; */
  height: 50px;
  width: 85%;
  background-color: rgba(27, 40, 56, 0.3);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  border: 2px solid #171d25;
}

select {
  height: 30px;
  background-color: rgba(27, 40, 56, 0.3);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 300;
  border: 2px solid #171d25;
}

input[type="checkbox"] {
  height: 20px;
  accent-color: #171d25;
  width: 20px;
}

button {
  margin-top: 15px;
  /* height: 50px; */
  padding: 15px 25px;
  background-color: #171d25;
  color: #dcdedf;
  border: 2px solid #171d25;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 300;
}

button:hover {
  background-color: #c0c2c3;
  color: #171d25;
}
