{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ontvangen Berichten</h1>
    <ul>
        {% for message in messages %}
            <li>
                <strong>{{ message.sender.username }}</strong>: {{ message.content }}
                <br>
                <small>{{ message.createdAt|date('d-m-Y H:i') }}</small>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
