{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nieuw Bericht</h1>
    {{ form_start(form) }}
        {{ form_row(form.content) }}
        <button type="submit">Verzenden</button>
    {{ form_end(form) }}
{% endblock %}
